{% extends "main_base.html" %}

{% block columns %}
<!-- Left Column -->
<div class="w3-row l2">
    <div id='leaderboard'>
        <iframe src='/leaderboard' width="1000" height="1000" frameborder="0" ALLOWTRANSPARENCY="true"></iframe>
    </div>
</div> <!-- End Left Column -->

<!-- Middle Column -->
<div class="w3-row l2">
  <!-- Leaderboard -->
<div id='leaderboard'>
  <iframe src='/leaderboard' width="1000" height="1000" frameborder="0" ALLOWTRANSPARENCY="true"></iframe>
</div>
</div> <!-- End Middle Column -->
{% endblock %}
